/* Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC */

/*
indent logged-activities.
*/

/* * {
  border: solid #FFF
} */

body {
  background: #2B2733;
  font-family: "Montserrat", sans-serif;
  color: #FFF;
}

header {
  background: #46424D;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

/* --------------LEFT SECTION: NEW ACTIVITY-------------- */
.new-activity-section {
  display: flex;
  flex: auto;
  flex-direction: column;
  padding: 30px;
  border-right: solid 4px #46424D;
}

.title {
  font-size: 2.0em;
  padding-bottom: 20px;
  justify-content: flex-start;
}

.body {
  border-radius: 10px;
  background: #46424D;
  padding: 30px 100px;
}

.categories {
  display: flex;
  font-size: 1.5em;
  flex-direction: column;
  padding: 30px 50px;
}

.category-names {
  display: flex;
  justify-content: space-between;
}

#green {
  border: solid 4px #B3FD78;
  color: #B3FD78;
}

#purple {
  border: solid 4px #C278FD;
  color: #C278FD;
}

#orange {
  border: solid 4px #FD8078;
  color: #FD8078;
}

.category {
  color: #FFF;
  background: #46424D;
  border: solid 4px #FFF;
  border-radius: 4px;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: .9em;
  flex-direction: column;
  padding: 40px;
  margin-top: 25px;
}

img {
  width: 25px;
}

form {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
  justify-content: space-around;
}

input {
  background: #46424D;
  border: none;
  border-bottom: solid 1px #FFF;
  color: #FFF;
  height: 50px;
  font-size: .9em;
}

.warning {
  color: #EFB7EC;
  font-size: .7em;
}

.user-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 20px;
}

.time-warnings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-minutes {
  display: flex;
  width: 40%;
  flex-direction: column;
}

.user-seconds {
  display: flex;
  width: 40%;
  flex-direction: column;
}

.start-section {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 40px;
}

.start-activity-button {
  color: #46424D;
  background: #FFF;
  border: #FFF;
  border-radius: 5px;
  width: 270px;
  height: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: .9em;
  flex-direction: column;
  padding: 10px;
}

/* --------------RIGHT SECTION: PAST ACTIVITIES-------------- */
.past-activities-section {
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 30vw;
}
/* .past-activities-title {
  justify-content: flex-start;
  font-size: 2.0em;
} */
.logged-activities {
  justify-content: center;
  font-size: 1.5em;
  /* padding: 50px; */
  text-align: center;
}
.no-activities-message {
  color: #FFF;
}
.logged-activity {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  background: #46424D;
  border-radius: 10px;
  width: auto;
  height: 95px;
  display: flex;
  padding-right: 5px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 30px;
}

#Study {
  border: solid 4px #B3FD78;
  margin-right: 10px;
  border-left-style: none;
  border-bottom-style: none;
  border-top-style: none;
}
#Meditate {
  border: solid 4px #C278FD;
  border-left-style: none;
  border-bottom-style: none;
  border-top-style: none;
}
#Exercise {
  border: solid 4px #FD8078;
  border-left-style: none;
  border-bottom-style: none;
  border-top-style: none;
}
.logged-category {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: .7em;
  /* font-weight: bold; */
  /* border: solid 4px #FFF;
  border-left-style: none;
  border-bottom-style: none;
  border-top-style: none; */
  width: 28vw;
  margin-left: 10px;
  margin-top: 10px;
}
.logged-time {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: .8em;
  margin-left: 10px;
  width: 28vw;
  /* border: solid 4px #FFF;
  border-left-style: none;
  border-bottom-style: none;
  border-top-style: none; */
}
.logged-description {
  padding-top: 8px;
  font-size: .6em;
  margin-left: 10px;
}

/* --------------LEFT SECTION: CURRENT ACTIVITY-------------- */
.current-activity {
  display: flex;
  flex: auto;
  flex-direction: column;
  padding: 30px;
  border-right: solid 4px #46424D;
}

/* .current-activity-title {
  font-size: 2.0em;
  padding-bottom: 15px;
} */
.body-timer {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #46424D;
  padding: 50px 20px;
  height: 70vh;
}

.current-activity-display {
  font-size: 2.0em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #46424D;
  line-height: 75px;
}

.countdown-timer {
  /* display: flex; */
  font-size: 3.5em;
  font-weight:bolder;
  /* flex-direction: column; */
  padding: 0px 50px;
}

/* if start timer is <div>
.start-timer {
  color: #FFF;
  background: #46424D;
  border: solid 10px #FFF;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.0em;
  flex-direction: column;
  padding: 40px;
  margin-top: 70px;
} */

/* if start timer is <button> */
.start-timer {
  color: #FFF;
  background: #46424D;
  border: solid 10px #FFF;
  border-radius: 100%;
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  flex-direction: column;
  margin-top: 90px;
}

.start-complete {
  display: flex;
  justify-content: center;
  /* align-content: center; */
  /* flex-direction: column; */
  width: 100%;
}
.log-activity-button {
  color: #46424D;
  background: #FFF;
  border: #FFF;
  border-radius: 5px;
  width: 350px;
  height: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.4em;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* --------------LEFT SECTION: COMPLETED ACTIVITY-------------- */

.completed-activity {
  display: flex;
  flex: auto;
  flex-direction: column;
  padding: 30px;
  border-right: solid 4px #46424D;
}

.completed-activity-display {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #46424D;
  padding: 50px 20px;
  height: 70vh;
}

.create-activity-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #46424D;
  background: #FFF;
  border: #FFF;
  border-radius: 5px;
  width: 400px;
  height: 50px;
  font-size: 1.4em;
  margin-top: 70px;
 }









/* --------------------------------------------------------------- */

.hidden {
  display: none;
}

p {
  color:#FFF;
}
